# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
build/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

.vscode/templates
